# Python
.pytest_cache/
__pycache__/

# ESP-IDF build artifacts
build/
build_*_*/
sdkconfig
sdkconfig.old

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt

# Documentation build artifacts
docs_build_output/
doxygen_output/
**/docs/book/
**/docs/doxygen/

# pytest-embedded log folder
pytest_embedded_log/

# idf-component-manager output
dependencies.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
